#draggable{
	width: 100px;
	height: 100px;
	background-color: pink;
}
#resizable{
	width: 100%;
	height: 100px;
	background-color: red;
}
.ui-controlgroup-vertical {
	width: 150px;
}
.ui-controlgroup.ui-controlgroup-vertical > button.ui-button,
.ui-controlgroup.ui-controlgroup-vertical > .ui-controlgroup-label {
	text-align: center;
}
#car-type-button {
	width: 120px;
}
.ui-controlgroup-horizontal .ui-spinner-input {
	width: 20px;
}